<div class="d-flex col align-items-center justify-content-between mt-4">
  <h1>Welcome to scheduled tweets</h1>
  <%= link_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>
